---
http_interactions:
- request:
    method: get
    uri: https://www.metaweather.com/api//location/search/?query=New%20York
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - d48a15e9d3af125eeb072d077152abef
    body:
      encoding: UTF-8
      string: '[{"title":"New York","location_type":"City","woeid":2459115,"latt_long":"40.71455,-74.007118"}]'
  recorded_at: Sun, 02 May 2021 05:15:11 GMT
- request:
    method: get
    uri: https://www.metaweather.com/api//location/2459115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Language:
      - en
      Location:
      - https://www.metaweather.com/api//location/2459115/
      Content-Type:
      - text/html; charset=utf-8
      X-Cloud-Trace-Context:
      - c3bfafdf00ce5953f4c7923723fb1ef8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 02 May 2021 05:15:12 GMT
- request:
    method: get
    uri: https://www.metaweather.com/api//location/2459115/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - acaee083c62b43259738d3cdd339c4cb
    body:
      encoding: UTF-8
      string: '{"consolidated_weather":[{"id":5958364325478400,"weather_state_name":"Light
        Cloud","weather_state_abbr":"lc","wind_direction_compass":"SW","created":"2021-05-02T03:31:46.061828Z","applicable_date":"2021-05-02","min_temp":9.43,"max_temp":21.42,"the_temp":18.305,"wind_speed":7.322836923754607,"wind_direction":234.0808470126946,"air_pressure":1012.0,"humidity":50,"visibility":14.144583134494551,"predictability":70},{"id":5982690852470784,"weather_state_name":"Light
        Rain","weather_state_abbr":"lr","wind_direction_compass":"SW","created":"2021-05-02T03:31:49.151100Z","applicable_date":"2021-05-03","min_temp":14.835,"max_temp":22.994999999999997,"the_temp":22.205,"wind_speed":7.360185388695354,"wind_direction":215.9457031727364,"air_pressure":1007.5,"humidity":63,"visibility":11.185302831464249,"predictability":75},{"id":5784756378664960,"weather_state_name":"Heavy
        Rain","weather_state_abb[...]
